blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-JWT-Extended
idna
itsdangerous
Jinja2
MarkupSafe
pip
psycopg2
psycopg2-binary
PyJWT
requests
scapy
secure-smtplib
urllib3
Werkzeug
yagmail